* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 0.36rem;
}

a {
	text-decoration: none !important;
}
a, p {
    font-size: 0.38rem;
}

li {
	list-style: none;
}

p {
	font-size: 0.38rem;
}

input {
	outline: none;
}

img {
	vertical-align: middle;
}

a:hover,
a:focus {
	text-decoration: none !important;
}

button:focus {
	border: 0px !important;
}

.container{
	padding-left: 0.35rem;
	padding-right: 0.35rem;
	margin: auto;
}
.top-header{
	height: 1.06rem;
}
.top-header h1{
	float: left;
    padding-top: 0.2rem;
}
.top-header h1 img{
	display: block;
	margin: auto;
	width: 4rem;
}
.top-header .reginter-btn{
	float: right;
    display: block;
    width: 2rem;
    background: red;
    color: #fff;
    text-align: center;
    line-height: 0.7rem;
    border-radius: 4px;
    margin-top: 0.2rem;
}
